.pane {
    -fx-border-color: #333;
    -fx-border-width: 2px;
}

.closeButton {
    -fx-background-color: #ce3812;
    -fx-border-color: #8e250b;
    -fx-border-width: 1px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

.mainMenuButton {
    -fx-background-color: rgba(32, 35, 247, 0.74);
    -fx-border-color: rgb(32, 35, 247);
    -fx-border-width: 2px;
}