.background {
    -fx-background-color: #333;
}

.lifePointsBar {
    -fx-background-color: #ccc;
}

.lifePointsBar .track{
    -fx-background-color: linear-gradient(white, yellow, gold, green, blue, purple, red, black);
    -fx-background-insets: 20;
    -fx-background-radius: 6, 6, 6, 6;
}

.lifePointsBar .bar {
    -fx-background-color: linear-gradient(white, yellow, gold, green, blue, purple, red, black);
    -fx-background-insets: 30, 30, 30, 30;
    -fx-background-radius: 4, 4, 4, 4;
}

.boardField {
    /*-fx-background-image: url("/skin/boardBack.jpg");*/
    -fx-background-repeat: cover;
}

.boardWrapper {
    -fx-background-color: rgba(137, 162, 183, 0.4);
}

.cardViewer {
    -fx-background-color: white;
}

.spellSlot {
    /*-fx-background-color: #272370;*/
    -fx-border-color: #333;
    -fx-border-width: 1px;

    -fx-background-image: url("/skin/board/spellSlot.png");
    -fx-background-repeat: cover;
    -fx-background-size: 120;
    -fx-background-position: center center
}

.monsterSlot {
    /*-fx-background-color: #702f23;*/
    -fx-border-color: #333;
    -fx-border-width: 1px;

    -fx-background-image: url("/skin/board/monsterSlot.png");
    -fx-background-repeat: cover;
    -fx-background-size: 120;
    -fx-background-position: center center
}

.deckSlot {
    /*-fx-background-color: #21706c;*/
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-background-image: url("/skin/board/deckSlot.png");
    -fx-background-repeat: cover;
    -fx-background-size: 120 90;
    -fx-background-position: center center
}

.graveSlot {
    /*-fx-background-color: #517023;*/
    -fx-border-color: #333;
    -fx-border-width: 1px;

    -fx-background-image: url("/skin/board/graveSlot.png");
    -fx-background-repeat: cover;
    -fx-background-size: 120 90;
    -fx-background-position: center center
}

.summonButton {
    -fx-border-color: black;
    -fx-border-width: 2px;

    -fx-background-color: rgba(46, 138, 138, 0.7);
    -fx-font: 15px Tahoma;
    -fx-text-fill: black;
}